div#rotate{
	transform: rotate(20deg);
}

div#skew{
	transform: skew(20deg);
}

div#all{
	transform: rotate(20deg);
	transform: skew(40deg);
	transform: 
}

div#matrix{
	transform: matrix();
}

div#animate{
	animation: animate 5s;
}

@keyframes animate {
	0%{
		opacity: 0;
		background-color: red
	}
	20%{
		opacity: 20;
		background-color: orange;
	}
	40%{
		opacity: 40;
		background-color: yellow;
	}
	60%{
		opacity: 60;
		background-color: green;
	}
	80%{
		opacity: 80;
		background-color: blue;
	}
}